*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.main_parent_div{
    width: 100%;
    background: url("./back_img.jpg") center;
    background-size: cover;
}
.main_parent_div h2{
    text-align: center;
    padding: 5px 0px;
}