*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1200px;
    height: 500px;
    border: 1px solid red;
    margin: auto;
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: flex-start;
    /* align-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap; */
}
.container>div{
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    /* width: 500px; */
}

@media only screen and (max-width: 500px) {
    .container{
        width: 100%;
        flex-direction: column;
    }
}

.item-1{
    flex-grow: 2;
}

/* .dummy{
    order: ;
    flex-grow: ;
    flex-basis: ;
    flex-shrink: ;
    align-self: ; fixed item horizontli
} */

/* video link:- https://youtu.be/5Ex2F7ZEAjk */